<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <section class="profile">
            <header>
                <div class="profile-header">
                    <img src="resources/img.jpg" class="profile-photo">
                    <div class="details">
                        <h2>Mander</h2>
                        <p class="bio">Esta es la biografía del usuario. Aquí se puede incluir una breve descripción del
                            perfil.</p>
                    </div>
                    <section class="form">
                        <div class="profile-section">
                            <a href="#" class="logout">Cerrar Sesion</a>
                            <div class="coins">
                                <p>Tienes: <span id="coin-count">100</span> monedas</p>
                            </div>
                        </div>
                    </section>
                </div>
            </header>
            <section class="users">
                <header>
                    <h2>Mis Publicaciones</h2>
                </header>
                <div class="profile-post-list">
                    <div class="search">
                        <span class="text">Busca una articulo</span>
                        <input type="text" placeholder="Buscar...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <a href="#">
                        <div class="content">
                            <img src="resources/profile-article.jpg" alt="Publicación 1">
                            <div class="details">
                                <span>Gengar PSA 10</span>
                                <p>Carta de Pokemon de Gengar PSA10</p>
                            </div>
                        </div>
                        <div class="content">
                            <img src="resources/profile-article-2.jpg" alt="Publicación 1">
                            <div class="details">
                                <span>Pantera Hoodie Talla L</span>
                                <p>Sudadero de la banda de Metal Pantera</p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </section>
    </div>

    <script src="/project/controller/javascript/profile.js"></script>

</body>

</html>